asgiref
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
Django
djangorestframework
h11
idna
outcome
packaging
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
typing_extensions
urllib3
webdriver-manager
websocket-client
wsproto
